/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/debugbar
/storage/*.key
/storage/pail
/vendor
.npmrc
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
docker-compose.custom.yml
npm-debug.log
yarn-error.log
resources/js/types/generated.d.ts
resources/js/types/backend.ts
/.fleet
/.idea
/.nova
/.vscode/settings.json
/.vscode/launch.json
/.zed
/.php-cs-fixer.cache
/.cursorrules
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.phpunit.cache
phpstan-tmp